<!DOCTYPE html>
<html>
<head>
	<!-- Esta parte direeciona las carpetas -->
	<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
	<script src="../../dist/jquery-3.1.1.min.js"></script>

	<title>Completed</title>
</head>

<body >
	<!-- Aqui empieza la barra de navegacion -->
	<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="../../index.html">Puerta de Hierro</a>
    </div>

    </div>
  </div>
</nav>
<!-- Aqui termina la barra de navegacion-->


<div class="col-md-3" ></div>
<div class="col-md-6" >
<div class="well" style="background-color: #dcdcdc; margin:20% 0; height:300px">

<center>
	<br><br><br><br>
	<p> Su solicitud fue enviada con exito. Espere una respuesta durante las siguientes 72 horas </p>
	<p> Your request was successfully sent. Wait for a response within 72 hours </p>


	<div class="form-group">
			 <a class="btn btn-primary" id="done" href="../../index.html" style="flex:0">Done</a>
	</div>
</center>
</div>


</body>

<script type="text/javascript" src="send_form.js"></script>

</html>
